.spot_body_wrapper {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 80px;
    color: #3d3d3d;
}

.spot_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.spot_header>a {
    font-size: 14px;
    color: #282828;
}

.name_location_wrapper>h2 {
    font-size: 24px;
    color: #282828;
    margin-top: 20px;
    margin-bottom: 4px;
}

.location_header {
    font-size: 14px;
}

.preview_grid {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

@media screen and (min-width: 1520px) {
    .preview_grid {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
}

.single_preview_grid {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.preview_image_large {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.preview_images {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sub_preview_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.subcontent_wrapper {
    display: flex;
    justify-content: space-between;
}

.booking_card_STANDIN {
    border-radius: 12px;
    border: 1px solid #e7e7e7;
    width: 400px;
    height: 500px;
}

.othercontent_wrapper {
    margin-right: 80px;
}

.spot_description {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
}

.spot_description>h3 {
    font-weight: bold;
    font-size: 20px;
    color: #282828;
    margin-top: 0px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    .spot_body_wrapper {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .subcontent_wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .othercontent_wrapper {
        margin-right: 0px;
        margin-top: 20px;
    }

    .spot_description {
        border-top: 1px solid #e7e7e7;
        padding-top: 20px;
    }

    .preview_grid {
        grid-template-columns: 1fr;
    }
}
