.spot_body_wrapper {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1000px) {
    .spot_body_wrapper {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.spot_body_wrapper>h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
}

.location_header {
    font-size: 14px;
}

.images_grid {
    background-color: rgb(125, 125, 125);
    width: 100%;
    height: 400px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subcontent_wrapper {
    display: flex;
}

.booking_card_STANDIN {
    border-radius: 12px;
    background-color: cadetblue;
    width: 400px;
    height: 500px;
    /* margin-left: 20px; */
}

.othercontent_wrapper {
    background-color: blueviolet;
    margin-right: 80px;
}

.booking_wrapper {
    background-color: brown;
}
