.create_spot_wrapper form {
    padding: 0;
    margin: 0;
    width: 100%;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
}

.create_spot_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to left top, rgb(89, 0, 255), rgb(255, 0, 123));
}

.create_spot_form_wrapper {
    margin: 30px 0px 80px 0px;
    border-radius: 12px;
    width: 500px;
    display: flex;
    flex-direction: column;
    color: #3d3d3d;
    background-color: white;
}

.create_spot_form_wrapper>h2 {
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 36px;
}

.create_spot_form_wrapper .submit_form_button {
    background-color: #3d3d3d;
}

.create_spot_form_wrapper textarea {
    border: none;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    resize: none;
}

.create_spot_form_wrapper textarea:focus {
    outline-style: none;
}

.create_spot_form_wrapper .error_list {
    margin-top: 20px;
}
