.create_booking_wrapper {
    border-radius: 12px;
    border: 1px solid #e7e7e7;
    width: 400px;
    box-shadow: 0 0 10px #e7e7e7;
}

.booking_price_reviews {
    margin: 24px;
    display: flex;
    justify-content: space-between;
}

.small_reviews {
    font-size: 14px;
    color: #9e9e9e;
    text-decoration: underline;
}

.dates_container {
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    margin: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.date_input_containers>label {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid #e7e7e7;
}

.date_input_containers input {
    padding: 4px;
    margin-top: 4px;
    margin-right: 16px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
}

.date_input_containers input:hover {
    cursor: pointer;
}

.total_price {
    margin: 24px;
    padding-top: 24px;
    border-top: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
}

.reserve_button_container {
    display: flex;
    justify-content: center;
}

.reserve_booking_button {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: #ff385c;
    color: white;
    font-size: 16px;
}

.reserve_booking_button:hover {
    cursor: pointer;
}

.reserve_noSession {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: #949494;
    color: white;
    font-size: 16px;
    text-align: center;
}

.reserve_noSession > .login_button {
    padding: 16px 0px 16px 0px;
}

.create_booking_wrapper .error_list {
    text-align: center;
}
