.form_wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    color: #3d3d3d;
}

.form_wrapper>h2 {
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 36px;
}

form {
    padding: 0;
    margin: 0;
    width: 100%;
    align-self: center;
}

.input_wrapper {
    align-self: center;
    border: 1px solid #e7e7e7;
    border-radius: 12px;
    overflow: hidden;
}

.input_wrapper>input {
    align-self: center;
    width: 400px;
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px 10px 20px 10px;
}

.input_wrapper>input:focus {
    outline-style: none;
}

.submit_login_button {
    margin: 20px 0px 40px 0px;
    padding: 16px;
    align-self: center;
    width: 420px;
    border: none;
    border-radius: 12px;
    background-color: #ff385c;
    color: white;
}

.submit_login_button:hover {
    cursor: pointer;
}

.error_list {
    align-self: center;
    width: 400px;
    color: red;
    font-size: 12px;
}

.error_list>div {
    padding-bottom: 5px;
}
